head{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 60px;
}
.am{
    color: goldenrod;
}
.halfw{
    width: 45%;
    float: left;
    margin: 1%;
    padding: 1%;
}
.halfw img{
    width: 100%;

}
.link-button{
text-decoration: none;
color: rgb(9, 44, 243);
background-image: linear-gradient(30deg, red, goldenrod);
padding: 10px 20px;
border-radius: 6px;
font-weight: 800;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 500px;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 20px;
    text-align: center;
}
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{ 
background-color: aquamarine;
border: 2px;
border-radius: 3px;
padding: 3px;
border-color: darkblue;
}
h4{
    font-size: 30px;
    margin: 10px;
}
.single-ex{
    box-shadow: 9px 9px 50px gray;
    border-radius: 5px;
    height: 50%;
}
.ex-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
}
#amar{
    border-left: 7px solid;
    border-image: linear-gradient(90deg, orange, rgb(108, 172, 24));
    border-image-slice: 1;
}
#pagli{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, yellow, blue);
    border-image-slice: 1;
}
footer{
    text-align: center;
}